
body, html, .container-fluid {
  height: 100%;
  width:100%;
}

#whole-page {
  height:100%;
  width:100%;
}

#left-side {
  float:left;
  height:100%;
  width:22%;
  padding: 0px 10px 0px 10px;
  background-color: #F0F2F4;
  font-family: 'Lucida Grande';
  border-style: solid;
  border-width: 0px 5px 0px 0px;
  border-color: #e1e5e9;
}

#left-side h3{
	font-size: 15px;
}

#maincomponents{
  cursor: move;
}

#maincomponents li{
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #9a9a9a;
  margin-bottom:3px;
}

#maincomponents li:hover{
	background: #6c6c6c;
}


#botmcomponents{
  cursor: move;

}

#botmcomponents li{
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #9a9a9a;
	margin-bottom:3px;
}

#botmcomponents li:hover{
	background: #6c6c6c;
}

#right-side{
  float:right;
  height:100%;
  width:78%;
}

#top-three .one{
  height:100%;
  width:100%;
  display: inline-block;
  vertical-align: text-top;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9a9a;
}

#top-three .two{
  height:100%;
  width:50%;
  display: inline-block;
  vertical-align: text-top;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9a9a;
}

#top-three .three{
  height:100%;
  width:33.3%;
  display: inline-block;
  vertical-align: text-top;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9a9a;
}

#top-combo{
  height:68%;
  width:100%;
  display: flex;
}

#botm-three{
  height:32%;
  width: 100%;
}

#botm-three .one{
  height:100%;
  width:100%;
  display: inline-block;
  vertical-align: text-top;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9a9a;
}
#botm-three .two{
  height:100%;
  width:50%;
  display: inline-block;
  vertical-align: text-top;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9a9a;
}
#botm-three .three{
  height:100%;
  width:33.3%;
  display: inline-block;
  vertical-align: text-top;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9a9a;
}

#botm-three .four{
  height:100%;
  width:25%;
  display: inline-block;
  vertical-align: text-top;
  border-style: solid;
  border-width: 1px;
  border-color: #9a9a9a;
}

#top-combo .navigation{
  width:30%;
  display: inline-block;
}

#top-combo .combo-player{
  flex:1;
  display: inline-block;
}

ul {
  list-style-type:none;
}

.full-spectrum .sp-palette {
  max-width: 200px;
}

#right-side #lg{
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center; 
}

#left-btom {
	position: fixed;
	bottom: 0;
	padding: 0px 10px 5px 5px;
}

#publishBtn{
    background-color: #9a9a9a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#publishBtn:hover {
    border: none;
    background: #6c6c6c;
    box-shadow: 0px 0px 1px #777;
}

#refreshBtn{
    background-color: #9a9a9a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#refreshBtn:hover {
    border: none;
    background: #6c6c6c;
    box-shadow: 0px 0px 1px #777;
}
