
#main-container .row.side{
  height: 100%;
  width:100%;
  position: relative;
}

body, html, .container-fluid {
  height: 100%;
}

#content {
  background-color: green;
}

#content .combo-line{
  height: 80%;
  width: 100%;
  background-color: red;
}

#content .row.combo{
  height: 100%;
  width: 100%;
  background-color: green;
}

#whole-page {
  height:100%;
  width:100%;

}
#left-side {
  float:left;
  height:100%;
  width:20%;
}

#right-side{

  float:right;
  height:100%;
  width:80%;
}

#top-combo{
  height:68%;
  width:100%;
}

#botm-three{
  height:32%;
  width: 100%;
  background-color: green;
}

#top-combo .navigation{
  height:100%;
  width: 30%;
  float:left;
  background-color: yellow;
}
#top-combo .combo-player{
  float:right;
  height:100%;
  width: 70%;
  background-color: red;
}
