
body, html, .container-fluid {
  height: 100%;
  width:100%;
  -webkit-app-region: drag;
}

#whole-page {
  height:100%;
  width:100%;

}
#left-side {
  float:left;
  height:100%;
  width:20%;
}

#right-side{
  float:right;
  height:100%;
  width:80%;
}

#top-combo{
  height:68%;
  width:100%;
  display: flex;
}

#botm-three{
  height:32%;
  width: 100%;
}


#botm-three div{
  height:100%;
  width:100%;
  background-color: gray;
  display: inline-block;
}

#top-combo #navigation{
  height:100%;
  width:30%;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
}
#top-combo #combo-player{
  flex:1;
  height:100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style-type:none;
}
